div#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

div#root header {
}

div#root div {
	display: flex;
	align-items: center;
	justify-self: center;
}
div#root div h1 {
	padding: 4rem;
	flex: 1 1 100%;
}
.blue {
	background-color: #60c0f0;
}
